/* CSS files add styling rules to your content */

body {
  font-family: "Great Vibes";
  margin: 2em;
  background-color: #DCB833;
  text-align: center;
}
@media (min-width: 400px) {
    body{
      font-size: 36px;
    }
}

.introP {
font-family: 'Great Vibes';
  font-size:50px;
}
.img {
width:50px;
  height:40px;
}
.rexBoardroom {
  height:400px;
  padding:15px;
}
h1 {
  font-style: italic;
  color: #00000;
  font-family: "Great Vibes";
}
h2 {
font-family: "Great Vibes";
}
/* this makes a div be a third of the screen, jic I need it
#divLorem {
  border-width:5px;
  width: 30%;
  overflow:auto;
  float:left;
  height:500px;
} */

.rexBedroomPic {
  height:300px;
  padding:15px;
}

.rexSpaPic {
  height:300px;
  padding:15px;
}
.rexValetPic {
  height:400px;
  padding:15px;
}

#rexValet {
  border:solid;
  border-color:white;
  padding:15px;
  margin:20px;
  border-style:groove;
  border-radius:50px;
  text-align:center;
}
#rexSpa {
  border:solid;
  border-color:white;
  padding:15px;
  margin:20px;
  border-style:groove;
  border-radius:50px;
}
#rexBedroom {
  border:solid;
  border-color:white;
  padding:15px;
  margin:20px;
  border-style:groove;
  border-radius:50px;
}
#rexBoardroom {
  border:solid;
  border-color:white;
  padding:15px;
  margin:20px;
  border-style:groove;
  border-radius:50px;
}
h5 {
font-size:20px;
}
